<!DOCTYPE html>
<html lang="en" ng-app="pickmeHereApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>PickmeHere</title>

  <!-- Bootstrap core CSS -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="app.css" rel="stylesheet">
</head>

<body ng-controller="HomeCtrl">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">PickmeHere</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="#">How It Works</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Log In</a></li>
          <li><a href="#">Sign Up</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="filter">Job Position</label>
              <select class="form-control selectpicker" ng-model="filter.jobposition" ng-change="changeHandler()">
                                        <option value="Java Developer">Java Developer</option>
                                        <option value=".Net Developer">.Net Developer</option>
                                        <option value="Salesforce Developer">Salesforce Developer</option>
                                        <option value="Mobile Developer">Mobile Developer</option>
                                        <option value="Frontend Developer">Frontend Developer</option>
                                        <option value="SCRUM+Master">SCRUM Master</option>
                                        <option value="Business+Developer">Business Developer</option>
                                        <option value="Solution Architect">Solution Architect</option>
                                        <option value="Team+Lead + Application+Developer">Team Lead Application Developer</option>
                                        <option value="Application+Developer+Associate+Manager">Application Developer Associate Manager</option>
                                        <option value="Application+Developer+Senior+Manager">Application Developer Senior Manager</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="filter">Level</label>
              <select class="form-control selectpicker" ng-model="filter.level" ng-change="changeHandler()">
                                        <option value="0">Senior(minimum 5 years)</option>
                                        <option value="1">Mid-Level(more than 3 years)</option>
                                        <option value="2">Junior(less than 2 years)</option>
                                        <option value="4">Manager</option>
                                        <option value="5">Senior Manager</option>
                                        <option value="5">Architect</option>  
                                        <option value="6" selected>All Levels</option>                                
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="filter">Location</label>
              <select class="form-control selectpicker" data-live-search="true" ng-model="filter.location" ng-change="changeHandler()">
                                        
    <option value="AF">Afghanistan</option>
    <option value="AL">Albania</option>
    <option value="DZ">Algeria</option>
    <option value="AS">American Samoa</option>
    <option value="AD">Andorra</option>
    <option value="AO">Angola</option>
    <option value="AI">Anguilla</option>
    <option value="AQ">Antarctica</option>
    <option value="AG">Antigua and Barbuda</option>
    <option value="AR">Argentina</option>
    <option value="AM">Armenia</option>
    <option value="AW">Aruba</option>
    <option value="AU">Australia</option>
    <option value="AT">Austria</option>
    <option value="AZ">Azerbaijan</option>
    <option value="BS">Bahamas</option>
    <option value="BH">Bahrain</option>
    <option value="BD">Bangladesh</option>
    <option value="BB">Barbados</option>
    <option value="BY">Belarus</option>
    <option value="BE">Belgium</option>
    <option value="BZ">Belize</option>
    <option value="BJ">Benin</option>
    <option value="BM">Bermuda</option>
    <option value="BT">Bhutan</option>
    <option value="BO">Bolivia</option>
    <option value="BA">Bosnia and Herzegowina</option>
    <option value="BW">Botswana</option>
    <option value="BV">Bouvet Island</option>
    <option value="BR">Brazil</option>
    <option value="IO">British Indian Ocean Territory</option>
    <option value="BN">Brunei Darussalam</option>
    <option value="BG">Bulgaria</option>
    <option value="BF">Burkina Faso</option>
    <option value="BI">Burundi</option>
    <option value="KH">Cambodia</option>
    <option value="CM">Cameroon</option>
    <option value="CA">Canada</option>
    <option value="CV">Cape Verde</option>
    <option value="KY">Cayman Islands</option>
    <option value="CF">Central African Republic</option>
    <option value="TD">Chad</option>
    <option value="CL">Chile</option>
    <option value="CN">China</option>
    <option value="CX">Christmas Island</option>
    <option value="CC">Cocos (Keeling) Islands</option>
    <option value="CO">Colombia</option>
    <option value="KM">Comoros</option>
    <option value="CG">Congo</option>
    <option value="CD">Congo, the Democratic Republic of the</option>
    <option value="CK">Cook Islands</option>
    <option value="CR">Costa Rica</option>
    <option value="CI">Cote d'Ivoire</option>
    <option value="HR">Croatia (Hrvatska)</option>
    <option value="CU">Cuba</option>
    <option value="CY">Cyprus</option>
    <option value="CZ">Czech Republic</option>
    <option value="DK">Denmark</option>
    <option value="DJ">Djibouti</option>
    <option value="DM">Dominica</option>
    <option value="DO">Dominican Republic</option>
    <option value="TP">East Timor</option>
    <option value="EC">Ecuador</option>
    <option value="EG">Egypt</option>
    <option value="SV">El Salvador</option>
    <option value="GQ">Equatorial Guinea</option>
    <option value="ER">Eritrea</option>
    <option value="EE">Estonia</option>
    <option value="ET">Ethiopia</option>
    <option value="FK">Falkland Islands (Malvinas)</option>
    <option value="FO">Faroe Islands</option>
    <option value="FJ">Fiji</option>
    <option value="FI">Finland</option>
    <option value="FR">France</option>
    <option value="FX">France, Metropolitan</option>
    <option value="GF">French Guiana</option>
    <option value="PF">French Polynesia</option>
    <option value="TF">French Southern Territories</option>
    <option value="GA">Gabon</option>
    <option value="GM">Gambia</option>
    <option value="GE">Georgia</option>
    <option value="DE">Germany</option>
    <option value="GH">Ghana</option>
    <option value="GI">Gibraltar</option>
    <option value="GR">Greece</option>
    <option value="GL">Greenland</option>
    <option value="GD">Grenada</option>
    <option value="GP">Guadeloupe</option>
    <option value="GU">Guam</option>
    <option value="GT">Guatemala</option>
    <option value="GN">Guinea</option>
    <option value="GW">Guinea-Bissau</option>
    <option value="GY">Guyana</option>
    <option value="HT">Haiti</option>
    <option value="HM">Heard and Mc Donald Islands</option>
    <option value="VA">Holy See (Vatican City State)</option>
    <option value="HN">Honduras</option>
    <option value="HK">Hong Kong</option>
    <option value="HU">Hungary</option>
    <option value="IS">Iceland</option>
    <option value="IN">India</option>
    <option value="ID">Indonesia</option>
    <option value="IR">Iran (Islamic Republic of)</option>
    <option value="IQ">Iraq</option>
    <option value="IE">Ireland</option>
    <option value="IL">Israel</option>
    <option value="IT">Italy</option>
    <option value="JM">Jamaica</option>
    <option value="JP">Japan</option>
    <option value="JO">Jordan</option>
    <option value="KZ">Kazakhstan</option>
    <option value="KE">Kenya</option>
    <option value="KI">Kiribati</option>
    <option value="KP">Korea, Democratic People's Republic of</option>
    <option value="KR">Korea, Republic of</option>
    <option value="KW">Kuwait</option>
    <option value="KG">Kyrgyzstan</option>
    <option value="LA">Lao People's Democratic Republic</option>
    <option value="LV">Latvia</option>
    <option value="LB">Lebanon</option>
    <option value="LS">Lesotho</option>
    <option value="LR">Liberia</option>
    <option value="LY">Libyan Arab Jamahiriya</option>
    <option value="LI">Liechtenstein</option>
    <option value="LT">Lithuania</option>
    <option value="LU">Luxembourg</option>
    <option value="MO">Macau</option>
    <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
    <option value="MG">Madagascar</option>
    <option value="MW">Malawi</option>
    <option value="MY">Malaysia</option>
    <option value="MV">Maldives</option>
    <option value="ML">Mali</option>
    <option value="MT">Malta</option>
    <option value="MH">Marshall Islands</option>
    <option value="MQ">Martinique</option>
    <option value="MR">Mauritania</option>
    <option value="MU" selected>Mauritius</option>
    <option value="YT">Mayotte</option>
    <option value="MX">Mexico</option>
    <option value="FM">Micronesia, Federated States of</option>
    <option value="MD">Moldova, Republic of</option>
    <option value="MC">Monaco</option>
    <option value="MN">Mongolia</option>
    <option value="MS">Montserrat</option>
    <option value="MA">Morocco</option>
    <option value="MZ">Mozambique</option>
    <option value="MM">Myanmar</option>
    <option value="NA">Namibia</option>
    <option value="NR">Nauru</option>
    <option value="NP">Nepal</option>
    <option value="NL">Netherlands</option>
    <option value="AN">Netherlands Antilles</option>
    <option value="NC">New Caledonia</option>
    <option value="NZ">New Zealand</option>
    <option value="NI">Nicaragua</option>
    <option value="NE">Niger</option>
    <option value="NG">Nigeria</option>
    <option value="NU">Niue</option>
    <option value="NF">Norfolk Island</option>
    <option value="MP">Northern Mariana Islands</option>
    <option value="NO">Norway</option>
    <option value="OM">Oman</option>
    <option value="PK">Pakistan</option>
    <option value="PW">Palau</option>
    <option value="PA">Panama</option>
    <option value="PG">Papua New Guinea</option>
    <option value="PY">Paraguay</option>
    <option value="PE">Peru</option>
    <option value="PH">Philippines</option>
    <option value="PN">Pitcairn</option>
    <option value="PL">Poland</option>
    <option value="PT">Portugal</option>
    <option value="PR">Puerto Rico</option>
    <option value="QA">Qatar</option>
    <option value="RE">Reunion</option>
    <option value="RO">Romania</option>
    <option value="RU">Russian Federation</option>
    <option value="RW">Rwanda</option>
    <option value="KN">Saint Kitts and Nevis</option> 
    <option value="LC">Saint LUCIA</option>
    <option value="VC">Saint Vincent and the Grenadines</option>
    <option value="WS">Samoa</option>
    <option value="SM">San Marino</option>
    <option value="ST">Sao Tome and Principe</option> 
    <option value="SA">Saudi Arabia</option>
    <option value="SN">Senegal</option>
    <option value="SC">Seychelles</option>
    <option value="SL">Sierra Leone</option>
    <option value="SG">Singapore</option>
    <option value="SK">Slovakia (Slovak Republic)</option>
    <option value="SI">Slovenia</option>
    <option value="SB">Solomon Islands</option>
    <option value="SO">Somalia</option>
    <option value="ZA">South Africa</option>
    <option value="GS">South Georgia and the South Sandwich Islands</option>
    <option value="ES">Spain</option>
    <option value="LK">Sri Lanka</option>
    <option value="SH">St. Helena</option>
    <option value="PM">St. Pierre and Miquelon</option>
    <option value="SD">Sudan</option>
    <option value="SR">Suriname</option>
    <option value="SJ">Svalbard and Jan Mayen Islands</option>
    <option value="SZ">Swaziland</option>
    <option value="SE">Sweden</option>
    <option value="CH">Switzerland</option>
    <option value="SY">Syrian Arab Republic</option>
    <option value="TW">Taiwan, Province of China</option>
    <option value="TJ">Tajikistan</option>
    <option value="TZ">Tanzania, United Republic of</option>
    <option value="TH">Thailand</option>
    <option value="TG">Togo</option>
    <option value="TK">Tokelau</option>
    <option value="TO">Tonga</option>
    <option value="TT">Trinidad and Tobago</option>
    <option value="TN">Tunisia</option>
    <option value="TR">Turkey</option>
    <option value="TM">Turkmenistan</option>
    <option value="TC">Turks and Caicos Islands</option>
    <option value="TV">Tuvalu</option>
    <option value="UG">Uganda</option>
    <option value="UA">Ukraine</option>
    <option value="AE">United Arab Emirates</option>
    <option value="GB">United Kingdom</option>
    <option value="US">United States</option>
    <option value="UM">United States Minor Outlying Islands</option>
    <option value="UY">Uruguay</option>
    <option value="UZ">Uzbekistan</option>
    <option value="VU">Vanuatu</option>
    <option value="VE">Venezuela</option>
    <option value="VN">Viet Nam</option>
    <option value="VG">Virgin Islands (British)</option>
    <option value="VI">Virgin Islands (U.S.)</option>
    <option value="WF">Wallis and Futuna Islands</option>
    <option value="EH">Western Sahara</option>
    <option value="YE">Yemen</option>
    <option value="YU">Yugoslavia</option>
    <option value="ZM">Zambia</option>
    <option value="ZW">Zimbabwe</option>

              </select>
            </div>
          </div>
        </div>
        <!--end first filter-->

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="filter">Minimum degree level</label>
              <select class="form-control selectpicker">
                                        <option value="0">PhD</option>
                                        <option value="1">Master</option>
                                        <option value="2">Engineer</option>
                                        <option value="3">Bachelor</option>
                                        <option value="4" selected>All degree level</option>
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="filter">Major Skills</label>
              <select class="form-control selectpicker" multiple data-selected-text-format="count > 8" data-live-search="true" ng-model="filter.skills"
                ng-change="changeHandler()">
                                        <option value="0">Java</option>
                                        <option value="1">Spring</option>
                                        <option value="2">JavaScript</option>
                                        <option value="3">Angular 2</option>
                                        <option value="4">Scala</option>
                                        <option value="5">Spark</option>
                                        <option value="6">Kafka</option>
                                        <option value="7">Hadoop</option>
                                        <option value="8">Agile(SCRUM)</option>
                                        <option value="9">Tableau</option>
                                        <option value="10">ELK</option>
                                        <option value="11">MapR Platform</option>
                                        <option value="12">Salesforce</option>
                                        <option value="13">Talend</option>
                                        <option value="14">Android</option>
                                        <option value="15">iOS</option>
                                        <option value="16">ionic</option>
                                        <option value="17">xamarin</option>
                                        <option value="18">PLM</option>
                                        <option value="19">Php</option>
                                        <option value="20">DevOps</option>
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="filter">Platform</label>
              <select class="form-control selectpicker" multiple data-selected-text-format="count > 8">
                                        <option value="4" selected>Hire.me</option>
                                        <option value="0">LinkedIn</option>
                                        <option value="1">Indeed</option>
                                        <option value="2">Monster</option>
                                        <option value="3">Facebook</option>
                                        <option value="4">Freelancer</option>
              </select>
            </div>
          </div>
        </div>
        <!--end second filter-->

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="filter">Certifications</label>
              <select class="form-control selectpicker" multiple data-selected-text-format="count > 8" data-live-search="true">
                                        <option value="0">Oracle Certified Master(OCM)</option>
                                        <option value="1">Oracle Certified Professional(OCP)</option>
                                        <option value="2">Sun Certified Java Professional(SCJP)</option>
                                        <option value="3">Oracle Certified Associate(OCP)</option>
                                        <option value="4">Oracle Database Administrator(DBA)</option>
                                        <option value="5">Oracle Certified Expert(OCE)</option>
                                        <option value="6">Cloudera Certified Associate Spark/Hadoop Developer(CCA)</option>
                                        <option value="7">Cloudera Certified Developer Spark/Hadoop Developer(CCD)</option>
                                        <option value="8">AWS Certified Solutions Architect – Associate</option>
                                        <option value="9">AWS Certified Solutions Architect – Professional</option>
                                        
                                        <option value="10">Android Certified Application Developer</option>
                                        <option value="11">GIAC GMOB Certification | Mobile Device Security Analyst</option>
                                        <option value="12">IBM Certified Mobile Application Developer</option>
                                        <option value="13">Kony Certified Developer</option>
                                        <option value="14">MTA Developer</option>
                                        <option value="15">GIAC Secure Software Programmer-Java (GSSP-JAVA)</option>
                                        <option value="16">GIAC Secure Software Programmer - .NET (GSSP-.NET)</option>
                                        <option value="17">GIAC Web Application Defender (GWEB)</option>
                                        <option value="18">Web Application Security Certification | CSSLP from (ISC)² - ISC2</option>
                                        <option value="19">GIAC Secure Software Programmer-Java (GSSP-JAVA)</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="filter">Availability</label>
              <select class="form-control selectpicker">
                                        <option value="0">Immediately</option>
                                        <option value="1">Less than a month</option>
                                        <option value="2">Less than 2 months</option>
                                        <option value="3">Less than 3 months</option>
                                        <option value="4">Less than 6 months</option>
                                        <option value="5">Not available</option>
                                        <option value="6" selected>Not required</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="filter">Results per page</label>
              <select class="form-control selectpicker">
                                        <option value="0" selected>20</option>
                                        <option value="1">50</option>
                                        <option value="2">100</option>
              </select>
            </div>

          </div>
        </div>
        <!--end third filter-->
      </div>
    </div>
    <!--end filter panel-->

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">SEARCH RESULT</div>
      <div class="panel-body">

        <!--First resume item-->
        <ul class="media-list" ng-repeat="resume in resumes">
          <li class="media">
            <div class="media-left">
              <a href="#">
        <img ng-if="resume.pagemap.cse_image!='undefined' && resume.displayLink!='www.indeed.com'" class="media-object" src="{{resume.pagemap.cse_image[0].src}}" width="80px" height="80px" alt="Software Engineer">
        <img ng-if="resume.displayLink=='www.indeed.com'" class="media-object" src="img/nobody.jpg" width="80px" height="80px" alt="Software Engineer">
      </a>
            </div>
            <div class="media-body">
              <a href="{{resume.link}}" target="_blank">
                <h4 class="media-heading">{{resume.pagemap.person[0].role}}</h4>
              </a>
              <span class="label label-primary">{{resume.displayLink}}</span>
              <span class="label label-success">{{resume.pagemap.postaladdress[0].addresslocality
}}</span>
              <span class="label label-info">{{resume.pagemap.organization[0].name}}</span>
              <span class="label label-warning">{{resume.pagemap.educationalorganization[0].name}}</span>
              <p style="text-align: justify" ng-bind-html="resume.htmlSnippet"> </p>
            </div>
          </li>
        </ul>

        <nav aria-label="...">
          <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- /.container -->
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>3
  <script src="app.js"></script>
  <script type="text/JavaScript">
    $(document).ready(function() { $('.selectpicker').selectpicker(); });
  </script>
</body>

</html>